/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Variables */
:root {
  --white-color: rgb(255, 255, 255);
  --blue1-color: rgb(47, 85, 151);
  --blue2-color: rgb(52, 119, 169);
  --blue3-color: rgb(107, 155, 193);
  --blue4-color: rgb(223, 230, 244);
  --yellow-color: rgb(255, 155, 0);
}

/* Tamaño de fuente */
@media screen and (max-width: 425px) {
  :root {
    font-size: 6px;
  }
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
  :root {
    font-size: 9px;
  }
}

@media screen and (min-width: 1025px) {
  :root {
    font-size: 12px;
  }
}

/* Estilos generales iniciales */
* {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  color: var(--blue1-color);
}

/* Estilos responsive iniciales */
.flex {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

/* Estilos generales */
.oculto {
  display: none;
}

.negrita {
  font-weight: bold;
}

.blue2 {
  background-color: var(--blue2-color);
}

.blue4 {
  background-color: var(--blue4-color);
}

/* Anchura mínima */
@media screen and (max-width: 425px) {
  body {
    min-width: 320px;
  }
}

@media screen and (min-width: 426px) {
  body {
    min-width: 426px;
  }
}

/* Encabezados */
h1 {
  font-size: 3.5rem;
  text-align: left;
}

@media screen and (max-width: 320px) {
  h1 {
    width: 65%;
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  h1 {
    width: 55%;
    font-size: 3rem;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  h1 {
    width: 50%;
  }
}

h2 {
  font-size: 3.5rem;
}

/* Listas */
li {
  list-style-type: none;
}

/* Enlaces */
a {
  text-decoration: none;
}

/* Secciones del portfolio */
article {
  padding: 2rem;
}
