/* Estilos de la sección Sobre mí */

/* Estilos responsive */
.about {
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .about > * {
    width: 75%;
  }
}

@media screen and (min-width: 769px) {
  .about > * {
    width: 66%;
  }
}
